body {
    background: linear-gradient(135deg, #1d2b64, #f8cdda);
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    animation: bg-glow 10s infinite alternate;
}

@keyframes bg-glow {
    0% {
        background: linear-gradient(135deg, #1d2b64, #f8cdda);
    }
    50% {
        background: linear-gradient(135deg, #6a11cb, #2575fc);
    }
    100% {
        background: linear-gradient(135deg, #1d2b64, #f8cdda);
    }
}

header {
    background: rgba(29, 43, 100, 0.8);
    padding: 15px;
    border-bottom: 3px solid #f8cdda;
    box-shadow: 0 0 25px #f8cdda;
    backdrop-filter: blur(5px);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #f8cdda;
    font-weight: bold;
    font-variant: small-caps;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    color: #6a11cb;
    transform: translateY(-5px);
}

section {
    padding: 30px 20px;
    margin: 20px;
    border: 2px solid #2575fc;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px #2575fc;
    backdrop-filter: blur(10px);
}

h1, h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    animation: pulse 5s infinite alternate;
}

p{
    text-align: center; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
        color: #f8cdda;
    }
    50% {
        transform: scale(1.1);
        color: #2575fc;
    }
    100% {
        transform: scale(1);
        color: #6a11cb;
    }
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.project {
    background: rgba(29, 43, 100, 0.8);
    border: 2px solid #f8cdda;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(5px);
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #f8cdda;
}

.project a {
    color: #f8cdda;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
}

.project a:hover {
    color: #6a11cb;
    text-shadow: 0 0 5px #cb1111;
}

footer {
    background: rgba(29, 43, 100, 0.8);
    padding: 20px;
    text-align: center;
    border-top: 3px solid #f8cdda;
    box-shadow: 0 0 25px #f8cdda;
    backdrop-filter: blur(5px);
}

footer a {
    color: #f8cdda;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
}

footer a:hover {
    color: #6a11cb;
    text-shadow: 0 0 5px #6a11cb;
}
